.modern-interior {
  position: relative;
  margin-top: 140px;
}
.modern-interior__wrapper {
  max-width: 1408px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.modern-interior-button {
  margin-top: 30px;
  width: 149.06px;
  height: 47.36px;
  background: #37806b;
  border-radius: 20px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #2d725e;
  }
  &:active {
    background: #ffffff;
    color: #37806b;
    border: 5px solid #37806b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px;
  }
}
.modern-interior__left {
  min-width: 422px;
  flex: 1;
  span {
    color: var(--pre-title-color);
    @include pre-title;
  }
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 78px;
    color: var(--title-color);
  }
  div {
    color: var(--pre-title-color);
    @include description;
  }
}
.modern-interior__right {
  position: relative;
  max-width: 703px;
  min-width: 396.36px;
  height: 613px;
  padding-right: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  img {
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 140px 0px;
    z-index: 2;
  }
  div {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid #b0855b;
    border-radius: 140px 0px;
    top: -580px;
    left: 34.36px;
    z-index: -1;
  }
}
.modern-interior__design_element_ {
  position: absolute;
  top: 110%;
}
